*.orig
*.pyc
*.status
*.sublime-*
*.lock
*src/batou.egg-info/
.appenv
coverage.json
.batou
.batou-lock
.coverage
.coverage.*
.installed.cfg
.pytest_cache
.vagrant
/.tox
/bin
/build/
/develop-eggs
/doc/build
/eggs
/examples/**/hostmap.json
/examples/**/insecure-private.key
/examples/*/.appenv
/examples/*/ssh_config_*
/examples/*/work
/htmlcov
/include
/lib
/lib64
/tmp/
/src/batou/secrets/tests/fixture/gnupg/.gpg-v21-migrated
/src/batou/secrets/tests/fixture/gnupg/crls.d
/src/batou/secrets/tests/fixture/gnupg/private-keys*/*.key
/src/batou/secrets/tests/fixture/gnupg/random_seed
/src/batou/secrets/tests/fixture/gnupg/S.*
__pycache__
batou-stubs/ruff_rules
monkeytype.sqlite3
pip-selfcheck.json
pip-wheel-metadata
pyvenv.cfg
report.xml
