*.pyc
*.sublime-*
*src/batou.egg-info/
.batou
.batou-lock
.coverage
.coverage.*
.installed.cfg
.pytest_cache
.vagrant
/.tox
/bin
/develop-eggs
/doc/build
/eggs
/examples/*/work
/examples/*/.appenv
/htmlcov
/include
/lib
/lib64
/src/batou/secrets/tests/fixture/gnupg/.gpg-v21-migrated
/src/batou/secrets/tests/fixture/gnupg/crls.d
/src/batou/secrets/tests/fixture/gnupg/private-keys*/*.key
/src/batou/secrets/tests/fixture/gnupg/random_seed
__pycache__
pip-selfcheck.json
pyvenv.cfg
report.xml
pip-wheel-metadata
