include LICENSE.txt
include README
include CHANGES.txt
include src/batou/version.txt
include src/batou/requirements.txt
include src/batou/bootstrap-template
recursive-include src/batou/init-template *
recursive-include src/batou/tests/fixture *
recursive-include src/batou/lib/resources *
