include src/batou/insecure-private.key
recursive-include src/batou/init-template *
recursive-include src/batou/tests/fixture *
recursive-include src/batou/lib/resources *
global-include *.txt
global-include *.in
