-e .[test]
appdirs==1.4.4
cfgv==3.5.0
distlib==0.4.0
filelock==3.20.3
identify==2.6.16
nodeenv==1.10.0
packaging==26.0
pluggy==1.6.0
pre-commit==4.5.1
py==1.11.0
pyparsing==3.3.2
pyproject-api==1.10.0
PyYAML==6.0.3
six==1.17.0
toml==0.10.2
tox==4.34.1
virtualenv==20.36.1
sphinx==9.1.0
recommonmark==0.7.1
