-e .
appdirs==1.4.4
cfgv==3.2.0
distlib==0.3.8
filelock==3.12.2
identify==1.5.9
nodeenv==1.5.0
packaging==24.0
pluggy==1.2.0
pre-commit==2.15.0
py==1.11.0
pyparsing==2.4.7
pyproject-api==1.5.3
PyYAML==6.0.1
six==1.15.0
toml==0.10.2
tox==4.7.0
virtualenv==20.26.2
sphinx==5.3.0
recommonmark==0.7.1
